# binaries and datafiles
*.dat
*.txt
*.json
*.in
*.table
*.lammps

# Python binaries
*.pyc

# Copied python runfiles
experiment*/**/*.py

# Output in py_src - temporary
py_src/**/*.txt
py_src/**/*.dat
py_src/**/*.cpt
py_src/**/*.in
py_src/**/*.lammps
py_src/**/*.table
py_src/**/*pot.py